.popup__save-button {
  display: block;
  width: 100%;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 46px;
  margin-bottom: 37px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  transition: 0.6s;
  padding: 0;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 535px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    margin: 49px 0 25px;
    height: 46px;
  }
}
