.popup__text {
  display: block;
  width: 100%;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  border: none;
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.popup__text:nth-child(2) {
  margin-top: 30px;
  
}


